/* Universal Styles */

html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #464646;
  padding-bottom: .5rem;
}

body {
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  body {
    width: 100%;
  }
}

/* Header Section */

header {
  background-color: white;
  margin: 0 auto;
}

nav {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav .logo {
  padding-left: 1.5rem;
}

nav span {
  display: inline;
}

.colmar {
  font-weight: bold;
}

.academy {
  color: silver;
  font-weight: lighter;
}

.truncated-menu {
  display: none;
}

ul {
  padding-right: 1.5rem;
}

ul li {
  display: inline;
  padding-left: 1rem;
}

@media only screen and (max-width: 800px) {
  .logo, .menu {
    display: none;
  }

  .truncated-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }
}

/* Main Banner Section */

.main-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
  height: auto;
  width: 100%;
}

.main-banner img {
  padding: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

.text-content {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.text-content h1 {
  color: #464646;
  font-size: 2.5rem;
  padding-bottom: .75rem;
  flex-shrink: 1;
}

.text-content p {
  color: #464646;
  font-size: 1.25rem;
}

.text-content .button {
  margin-top: 2rem;
}

.text-content .button a{
  text-align: center;
  font-size: inherit;
  margin-top: 1rem;
  background-color: #464646;
  border: none;
  color: white;
  padding: .5rem 25%;
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  .main-banner {
    flex-direction: column;
    width: 100%;
  }

  .main-banner img {
    width: 100%;
    padding: 0;
  }

  .text-content {
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    justify-content: center;
  }

  .text-content h1, p {
    padding-left: 1rem;
  }

  .button {
    padding: 0 1rem;
    width: 100%;
  }
}

/* Main Content Section */

.main-content {
  display: inline-flex;
  width: 100%;
  height: auto;
}

.practicing {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  padding: 0 1.5rem 2rem 1.5rem;
}

.mobile-image {
  display: none;
}

.practicing img {
  padding: 2rem 1.5rem 2rem 0;
  width: 100%;
  height: auto;
}

.practicing-content h1 {
  color: #464646;
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.read-more {
  width: 40%;
  height: auto;
  border-left: 1px solid lightgray;
}

.list-item {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.list-item:hover {
  background-color: lightgray;
}

.preview {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: auto;
}

.desktop-image {
  width: 35%;
  height: auto;
  padding: 1.5rem;
}

.preview p {
  padding-bottom: .5rem;
}

.preview a {
  color: cornflowerblue;
  font-size: .85rem;
}

.source {
  padding: 2rem 0;
}

@media only screen and (max-width: 800px) {
  .practicing {
    display: none;
  }

  .read-more {
    width: 100%;
    height: auto;
  }

  .list-item {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  .preview {
    width: 100%;
    height: auto;
    padding-left: 1rem;
  }

  .preview p {
    padding-left: 0;
  }
}

/* Start Learning Section */

.start-learning {
  background-color: lightgray;
  width: 100%;
  height: auto;
}

.start-learning h1 {
  text-align: center;
  color: #464646;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 2rem;
}

.subjects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  padding: 2rem 4.5rem 0 4.5rem;
}

.subject {
  background-color: white;
  width: 30%;
  margin-bottom: 2rem;
}

.subject img {
  width: 100%;
  height: auto;
}

.subject-text {
  padding: 1rem 1rem 2rem 1rem;
}

.subject-text h4, p {
  font-weight: lighter;
}

.subject-text h3, h4 {
  padding-bottom: 1rem;
}

.mobile-view {
  display: none;
}

@media only screen and (max-width: 800px) {
  .start-learning {
    background-color: white;
    justify-content: center;
  }

  .subjects {
    display: none;
  }

  .mobile-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    padding: 1rem 1rem 2rem 1rem;
    border-bottom: 1px solid gray;
    width: 100%;
  }

  .mobile-subject {
    display: flex;
    background-color: lightgray;
    width: 100%;
    margin-bottom: .5rem;
    align-items: center;
  }

  .mobile-subject h3 {
    padding: 1rem 1rem 1.5rem 1rem;
    align-items: center;
  }
}


/* Thesis Exhibit Section */

.thesis-exhibit h1 {
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  color: #464646;
  font-weight: bold;
  font-size: 2.5rem;
}

.thesis-content {
  display: flex;
  width: 100%;
  height: auto;
}

.video {
  width: 60%;
  height: auto;
  padding: 0 1.5rem 2rem 1.5rem;
}

.exhibits {
  width: 40%;
  height: auto;
}

.exhibit {
  background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
}

.exhibit:hover {
  background-color: lightgray
}

.exhibit img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.exhibit-text {
  width: 65%;
  padding-right: 3rem;
}

.video video {
  padding-bottom: 1.5rem;
}

.video p {
  padding: .5rem 0 2rem 0;
}

@media only screen and (max-width: 800px) {
  .exhibits {
    display: none;
  }

  .video h3, p {
    display: none;
  }

  .video {
    width: 100%;
    height: auto;
  }
}

/* Footer Section */

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: gray;
  background-color: white;
  border-top: 1px solid gray;
  height: 6rem;
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 800px) {
  .terms-privacy {
    display: none;
  }
}
